@model IEnumerable<SOPD.Models.Thesis>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuthorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationalUnitID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromoterID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationalUnit.UnitName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Promoter.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reviewer.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ThesisID })

            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ThesisID })
                }
                if (User.IsInRole("Dziekan")&&item.State==SOPD.Models.ThesisState.UnApproved)
                {
                    @Html.ActionLink("Zatwierdź temat", "ApproveThesis", new { id = item.ThesisID })
                }
            }
        </td>
    </tr>
}

</table>
