@model IEnumerable<SOPD.Models.Thesis>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationalUnit.UnitName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Promoter.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reviewer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnglishTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abstract)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnglishAbstract)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeyWords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnglishKeyWords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationalUnit.UnitName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Promoter.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reviewer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnglishTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abstract)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnglishAbstract)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KeyWords)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnglishKeyWords)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ThesisID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ThesisID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ThesisID })
        </td>
    </tr>
}

</table>
